In [1]:
import pandas as pd
from Acesso import Login
from Query import Query

pd.set_option('display.max_columns',None)

s=Login()

sql=Query(s.usuario,s.senha,s.database,s.server)

In [2]:
querys={
    
    'Vendas':
    
    """
    
    SELECT * FROM netfeira.vw_targetestatico

        
    """,
    
    'Produto':
    
    """
    
    SELECT * FROM netfeira.vw_produto
    
    """,
    
    'Vendedor':
    
    """
    
    SELECT * FROM netfeira.vw_vendedor
    
    """,
    
    'Supervisor':
    
    
    """
    
    SELECT * FROM netfeira.vw_supervisor
    
    """
    
}

In [23]:
tabelas_df=sql.CriarTabela(kwargs=querys)

In [24]:
vendas_df==pd.DataFrame()

vendas_df=tabelas_df['Vendas'].loc[(tabelas_df['Vendas']['Tipo de Operação']!='OUTROS')&((tabelas_df['Vendas']['Data de Faturamento'].dt.year==2022))]

NameError: name 'vendas_df' is not defined

In [ ]:
vendas_df

    ID Vendedor           Situação        Qtde
0      ADANTAS           CANCELADO  -1164.0000
1      ADANTAS           DEVOLUÇÃO   -285.0000
2      ADANTAS   DEVOLUÇÃO PARCIAL   -515.0000
3      ADANTAS            FATURADO  93068.8856
4      ADELIALO          CANCELADO   -563.0000
..          ...                ...         ...
225    VERONIKA  DEVOLUÇÃO PARCIAL    -84.0000
226    VERONIKA           FATURADO  13879.0000
227    VIVIANCR          CANCELADO   -145.0000
228    VIVIANCR          DEVOLUÇÃO   -159.0000
229    VIVIANCR           FATURADO  18013.9650

[230 rows x 3 columns]