In [1]:
import pandas as pd
from Acesso import Login
from Query import Query
from glob import glob
from datetime import datetime

s=Login()

sql=Query(s.usuario,s.senha,s.database,s.server)

pd.set_option('display.max_columns',None)

In [2]:
querys={
    
    'Produto':
    
    """
    
    SELECT * FROM netfeira.vw_produto
    
    """
}

In [3]:
tabelas_df=sql.CriarTabela(kwargs=querys)

In [13]:
arq=glob('*.csv')

sell_out_df=pd.read_csv(arq[-1])

sell_out_df.loc[sell_out_df['Code']==9403]

Empty DataFrame
Columns: [systemId, Code, Quantity, Amount, Sale Date, Transaction ID]
Index: []

In [5]:
sell_out_df=sell_out_df.merge(tabelas_df['Produto'][['SKU','Produto','Grupo MCCAIN']],left_on='Code',right_on='SKU',how='inner')

In [6]:
sell_out_df.columns

Index(['systemId', 'Code', 'Quantity', 'Amount', 'Sale Date', 'Transaction ID',
       'SKU', 'Produto', 'Grupo MCCAIN'],
      dtype='object')

In [7]:
sell_out_df=sell_out_df[['systemId','Code', 'Produto', 'Grupo MCCAIN','Quantity', 'Amount', 'Sale Date', 'Transaction ID',
       ]]

In [8]:
sell_out_df=sell_out_df.loc[sell_out_df['Grupo MCCAIN'].str.contains('VAREJO')]

In [11]:
sell_out_df.loc[sell_out_df['Produto'].str.contains('BINT')]

Empty DataFrame
Columns: [systemId, Code, Produto, Grupo MCCAIN, Quantity, Amount, Sale Date, Transaction ID]
Index: []

In [13]:
sell_out_df.to_excel('MCCAIN EDI.xlsx',index=False,encoding='UTF-8')