In [1]:
import pandas as pd
from glob import glob

pd.set_option('display.max_columns',None)

In [2]:
arq=glob('*.xlsx')

arq

['Restaurante_Barueri_sp.xlsx', 'Restaurante_Centro_são paulo_sp.xlsx']

In [22]:
excel=pd.read_excel(arq[0])

In [29]:
excel=excel.pivot(index=['Empresa','Endereço'],columns='Seq',values='Telefone').reset_index()

In [53]:
indice=[c for c in excel.columns if str(c).isnumeric()]

col=[f'Telefone {c}' for c in excel.columns if str(c).isnumeric()]

for i,c in enumerate(indice):

    excel.rename(columns={c:col[i]},inplace=True)
    
    pass

In [54]:
excel

Seq,Empresa,Endereço,Telefone 1,Telefone 2,Telefone 3
0,RESTAURANTE LAPETIT,"R TAMOIO, 16 - CS 1 - - VILA PINDORAMA - BARUE...",(11) 4182-2284,(11) 4161-2067,(11) 4161-3245