In [1]:
import pandas as pd
from Acesso import Login
from Query import Query
from glob import glob

s=Login()

sql=Query(s.usuario,s.senha,s.database,s.server)

pd.set_option('display.max_columns',None)

In [2]:
querys={
    
    'Tabelas':
    
    """
    
    SELECT * FROM tab_pre
    
    """,
    
    'Preços':
    
    """
    
    SELECT * FROM preco
    
    """
    
}

In [3]:
df=sql.CriarTabela(kwargs=querys)

In [17]:
arq=glob('*.xlsx')

excel=pd.read_excel(arq[-1])

excel=excel[['SKU','B2C']].loc[~excel['TABELA CONSUMIDOR FINAL'].isnull()]

excel

      SKU     B2C
0       3   26.57
1       8   28.51
2      12   25.10
3      34   73.17
4      35   98.92
..    ...     ...
455  9594    5.08
456  9596  274.72
457  9598  352.60
458  9599   24.56
459  9600   25.69

[432 rows x 2 columns]

In [25]:
df['Tabelas'].loc[df['Tabelas']['descricao'].str.contains('CONSUMIDOR')]

,cd_tabela,dt_cad,descricao,num_lock,ativo,venda_especial,cd_tabela_ant,cd_tabela_prox,desc_embutido,dt_validade,tp_entrega,nf_imp_desc_itens,estado,arq_consys,cd_tab_pre_categ,nf_preco_cheio_desc_bol,cd_texto,rowid,TabPreID
43,00000050,2020-03-23,TABELA CONSUMIDOR FINAL,2,True,0,00000029,None,None,None,None,0,,None,None,0,NaN,b'\x00\x00\x00\x00\x1b\xee\x8es',45

In [22]:
tab=df['Tabelas']['cd_tabela'].loc[df['Tabelas']['descricao'].str.contains('CONSUMIDOR')].max()

tab

'00000050'

In [27]:
codigos=excel['SKU'].unique().tolist()

for c in codigos:
    
    vl_preco=excel['B2C'].loc[excel['SKU']==c].max()
    
    query=f"""
    
    UPDATE preco
    SET vl_preco={vl_preco}
    WHERE cd_prod={c} AND cd_tabela='{tab}'
    
    
    """
    
    conecta=sql.ConexaoSQL()
    
    sql.Salvar(query,conecta)
    
    break
    
    pass

print('Atualizado')

Atualizado