In [1]:
import pandas as pd
from Tempo import DataHora
from ConectionSQL import SQL

pd.set_option('display.max_columns',None)
pd.set_option('float_format','{:2f}'.format)

sql=SQL('Netfeira','sqlserver','MOINHO','192.168.0.252')

conectando=sql.ConexaoSQL()

In [2]:
querys={
    
    'Estatico':
    
    """
    SELECT * FROM netfeira.vw_estatico
    
    """,
    
    'Cliente':
    
    """
    
    SELECT * FROM netfeira.vw_cliente
    
    """,
    
    'Vendedor':
    
    """
    
    SELECT * FROM netfeira.vw_vendedor
    
    """,
    
    'Supervisor':
    
    """
    
    SELECT * FROM netfeira.vw_supervisor
    
    """,
    
    'Segmento':
    
    """
    
    SELECT * FROM netfeira.vw_segmento
    
    """,
    
    'Produto':
    
    
    """
    
    SELECT * FROM netfeira.vw_produto
    
    """
    
}

In [3]:
tabelas_df=dict()

for tabela,query in querys.items():
    
    tabelas_df[tabela]=pd.read_sql(query,conectando)    
    
    pass

In [4]:
tabelas_df['Estatico'].columns

Index(['ID Empresa', 'Numero do Pedido', 'NFe', 'ID Cliente', 'ID Vendedor',
       'Tipo de Pedido', 'Tipo de Operação', 'Tabela de Preço',
       'Data de Emissão', 'Data de Faturamento', 'Status do Pedido', 'ID NFe',
       'SKU', 'Seq', 'Qtde', 'Unid. VDA', 'Qtde VDA', 'Valor VDA',
       'Total Geral', 'Custo da Útima Entrada', 'Margem Bruta R$',
       'Peso Bruto', 'Peso Líquido', 'Preço da Tabela', '% Desconto',
       '% Comissão', 'Comissão R$'],
      dtype='object')

In [5]:
tabelas_df['Estatico'].rename(columns={'Peso Bruto':'Bruto KG','Peso Líquido':'Líquido KG'},inplace=True)

tabelas_df['Estatico']=tabelas_df['Estatico'].loc[tabelas_df['Estatico']['Tipo de Operação']=='VENDAS']

tabelas_df['Estatico'].columns

Index(['ID Empresa', 'Numero do Pedido', 'NFe', 'ID Cliente', 'ID Vendedor',
       'Tipo de Pedido', 'Tipo de Operação', 'Tabela de Preço',
       'Data de Emissão', 'Data de Faturamento', 'Status do Pedido', 'ID NFe',
       'SKU', 'Seq', 'Qtde', 'Unid. VDA', 'Qtde VDA', 'Valor VDA',
       'Total Geral', 'Custo da Útima Entrada', 'Margem Bruta R$', 'Bruto KG',
       'Líquido KG', 'Preço da Tabela', '% Desconto', '% Comissão',
       'Comissão R$'],
      dtype='object')

In [6]:
tabelas_df['Cliente'].columns

Index(['ID Cliente', 'CNPJ', 'CNPJ Caracter', 'Razão Social', 'Nome Fantasia',
       'Tipo de Cliente', 'Status do Cliente', 'ID Segmento', 'Matriz',
       'Crédito', 'Data de Cadastro', 'Primeira Compra', 'Última Compra',
       'Dias Compra', 'Tabela', 'Condição de Pagto', 'Prazo Pagto',
       'Pagamento', 'CEP', 'Endereço', 'Bairro', 'Município', 'Numero',
       'Complemento', 'Região', 'UF', 'DDD', 'Contato'],
      dtype='object')

In [7]:
tabelas_df['Cliente']=tabelas_df['Cliente'].loc[tabelas_df['Cliente']['Status do Cliente']=='ATIVO']

In [8]:
tabelas_df['Produto'].columns

Index(['SKU', 'Cód. Fabricante', 'Produto', 'Status', 'Fabricante',
       'Departamento', 'Seção', 'Categoria', 'Linha', 'Grupo de Produtos',
       'Grupo Indústria', 'Grupo de Meta', 'Grupo MCCAIN', 'Linha Fabrica',
       'Grupo de Promotores', 'Peso Liquido', 'Peso Bruto', 'Fator CX'],
      dtype='object')

In [9]:
tabelas_df['Produto']=tabelas_df['Produto'].loc[tabelas_df['Produto']['Status']=='ATIVO']

In [10]:
tabelas_df['Vendedor'].columns

Index(['ID Vendedor', 'Vendedor', 'Nome Resumido', 'ID Equipe', 'E-mail',
       'Categoria'],
      dtype='object')

In [11]:
tabelas_df['Estatico']=tabelas_df['Estatico'].merge(tabelas_df['Cliente'],on='ID Cliente',how='inner')[['ID Empresa', 'Numero do Pedido', 'NFe', 'ID Cliente','Nome Fantasia','ID Segmento', 'ID Vendedor',
       'Tipo de Pedido', 'Tipo de Operação', 'Tabela de Preço',
       'Data de Emissão', 'Data de Faturamento', 'Status do Pedido', 'ID NFe',
       'SKU', 'Seq', 'Qtde', 'Unid. VDA', 'Qtde VDA', 'Valor VDA',
       'Total Geral', 'Custo da Útima Entrada', 'Margem Bruta R$',
       'Bruto KG', 'Líquido KG', 'Preço da Tabela', '% Desconto',
       '% Comissão', 'Comissão R$']]

In [13]:
tabelas_df['Estatico']=tabelas_df['Estatico'].merge(tabelas_df['Produto'],on='SKU',how='inner')[['ID Empresa', 'Numero do Pedido', 'NFe', 'ID Cliente','Nome Fantasia','ID Segmento', 'ID Vendedor',
       'Tipo de Pedido', 'Tipo de Operação', 'Tabela de Preço',
       'Data de Emissão', 'Data de Faturamento', 'Status do Pedido', 'ID NFe',
       'SKU','Cód. Fabricante', 'Produto', 'Status', 'Fabricante',
       'Departamento', 'Seção', 'Categoria', 'Linha', 'Grupo de Produtos',
       'Grupo Indústria', 'Grupo de Meta', 'Grupo MCCAIN', 'Linha Fabrica',
       'Grupo de Promotores', 'Fator CX', 'Seq', 'Qtde', 'Unid. VDA', 'Qtde VDA', 'Valor VDA',
       'Total Geral', 'Custo da Útima Entrada', 'Margem Bruta R$',
       'Bruto KG', 'Líquido KG', 'Preço da Tabela', '% Desconto',
       '% Comissão', 'Comissão R$']]

In [16]:
tabelas_df['Vendedor'].rename(columns={'Categoria':'Categoria Vendedor'},inplace=True)

In [18]:
tabelas_df['Estatico']=tabelas_df['Estatico'].merge(tabelas_df['Vendedor'],on='ID Vendedor',how='inner')[['ID Empresa', 'Numero do Pedido', 'NFe', 'ID Cliente','Nome Fantasia','ID Segmento', 'ID Vendedor','Vendedor','ID Equipe',
       'Tipo de Pedido', 'Tipo de Operação', 'Tabela de Preço',
       'Data de Emissão', 'Data de Faturamento', 'Status do Pedido', 'ID NFe',
       'SKU','Cód. Fabricante', 'Produto', 'Status', 'Fabricante',
       'Departamento', 'Seção', 'Categoria', 'Linha', 'Grupo de Produtos',
       'Grupo Indústria', 'Grupo de Meta', 'Grupo MCCAIN', 'Linha Fabrica',
       'Grupo de Promotores', 'Fator CX', 'Seq', 'Qtde', 'Unid. VDA', 'Qtde VDA', 'Valor VDA',
       'Total Geral', 'Custo da Útima Entrada', 'Margem Bruta R$',
       'Bruto KG', 'Líquido KG', 'Preço da Tabela', '% Desconto',
       '% Comissão', 'Comissão R$']]

In [20]:
tabelas_df['Supervisor'].columns

Index(['ID Equipe', 'Equipe', 'ID Sup', 'Supervisor', 'Email Sup',
       'ID Gerente', 'Gerente', 'Email Gerente'],
      dtype='object')

In [22]:
tabelas_df['Estatico']=tabelas_df['Estatico'].merge(tabelas_df['Supervisor'],on='ID Equipe',how='inner')[['ID Empresa', 'Numero do Pedido', 'NFe', 'ID Cliente','Nome Fantasia','ID Segmento', 'ID Vendedor','Vendedor','Equipe','ID Sup', 'Supervisor', 'Email Sup',
       'ID Gerente', 'Gerente', 'Email Gerente',
       'Tipo de Pedido', 'Tipo de Operação', 'Tabela de Preço',
       'Data de Emissão', 'Data de Faturamento', 'Status do Pedido', 'ID NFe',
       'SKU','Cód. Fabricante', 'Produto', 'Status', 'Fabricante',
       'Departamento', 'Seção', 'Categoria', 'Linha', 'Grupo de Produtos',
       'Grupo Indústria', 'Grupo de Meta', 'Grupo MCCAIN', 'Linha Fabrica',
       'Grupo de Promotores', 'Fator CX', 'Seq', 'Qtde', 'Unid. VDA', 'Qtde VDA', 'Valor VDA',
       'Total Geral', 'Custo da Útima Entrada', 'Margem Bruta R$',
       'Bruto KG', 'Líquido KG', 'Preço da Tabela', '% Desconto',
       '% Comissão', 'Comissão R$']]

In [23]:
tabelas_df['Segmento'].columns

Index(['ID Segmento', 'Segmento', 'Canal'], dtype='object')

In [26]:
tabelas_df['Estatico']=tabelas_df['Estatico'].merge(tabelas_df['Segmento'],on='ID Segmento',how='inner')[['ID Empresa', 'Numero do Pedido', 'NFe', 'ID Cliente','Nome Fantasia','Segmento', 'Canal', 'ID Vendedor','Vendedor','Equipe','ID Sup', 'Supervisor', 'Email Sup',
       'ID Gerente', 'Gerente', 'Email Gerente',
       'Tipo de Pedido', 'Tipo de Operação', 'Tabela de Preço',
       'Data de Emissão', 'Data de Faturamento', 'Status do Pedido', 'ID NFe',
       'SKU','Cód. Fabricante', 'Produto', 'Status', 'Fabricante',
       'Departamento', 'Seção', 'Categoria', 'Linha', 'Grupo de Produtos',
       'Grupo Indústria', 'Grupo de Meta', 'Grupo MCCAIN', 'Linha Fabrica',
       'Grupo de Promotores', 'Fator CX', 'Seq', 'Qtde', 'Unid. VDA', 'Qtde VDA', 'Valor VDA',
       'Total Geral', 'Custo da Útima Entrada', 'Margem Bruta R$',
       'Bruto KG', 'Líquido KG', 'Preço da Tabela', '% Desconto',
       '% Comissão', 'Comissão R$']]

In [36]:
segmento_df=tabelas_df['Estatico'][['Segmento','Canal','Total Geral']].groupby(['Segmento','Canal'],as_index=False).sum().sort_values('Total Geral',ascending=False,ignore_index=True)

segmento_df

                      Segmento Canal     Total Geral
0                  RESTAURANTE    FS 32812513.936280
1                  10 OU + CHK    AS 20701145.758858
2               BAR/LANCHONETE    FS 12166141.586492
3                    5 A 9 CHK    AS 10206056.795516
4         PADARIA/DELICATÉSSEN    FS  8207947.491188
5                    1 A 4 CHK    AS  6841544.663606
6                      SACOLÃO    AS  5729345.299640
7                 HAMBURGUERIA    FS  4335809.514304
8           COZINHA INDUSTRIAL    FS  4309722.414136
9                 DISTRIBUIDOR    AS  4186795.445000
10               HOSPITALIDADE    FS  2840329.170000
11                    EDUCAÇÃO    FS  2321482.656208
12            CONSUMIDOR FINAL    FS  2212091.050000
13                       SAÚDE    FS  1732181.240000
14                     AÇOUGUE    AS  1699800.817838
15              ENTRETENIMENTO    FS  1451495.753339
16                   MERCEARIA    AS  1221705.400000
17                   CAFETERIA    FS  1110487.850000
18                   ATACAREJO    AS  1009738.795388
19      SORVETERIA/CONFEITARIA    FS   986574.358476
20                CHURRASCARIA    FS   844469.550000
21              BARES E CLUBES    FS   695916.190000
22                  FORNECEDOR    AS   546721.262000
23         CANAL ESPECIALIZADO    AS   477138.510000
24                    PIZZARIA    FS   429144.666810
25                     EMPÓRIO    AS   427930.666944
26           INDÚSTRIA/FÁBRICA    FS   405747.550000
27             FAST FOOD/REDES    FS   384085.640000
28                 FUNCIONARIO    FS   250778.114000
29                    SUQUERIA    FS   200536.510000
30     SERVIÇOS COMPLEMENTARES    FS   195316.700000
31              OPERADOR MÓVEL    FS   188694.220000
32                  BOMBONIERE    AS   177372.250000
33        RESTAURANTE ORIENTAL    FS   153284.430000
34                        AÇAÍ    FS   126416.240000
35                  ROTISSERIE    FS   111470.000000
36                      BOTECO    FS    59075.400000
37  MILITAR E SERVIÇOS SOCIAIS    FS    39444.040000
38        LOJA DE CONVENIÊNCIA    AS    29120.240000
39                    FARMACIA    AS    14822.460000
40                    ACADEMIA    AS     9010.440000
41        ESCRITÓRIOS/EMPRESAS    FS     3271.720000
42                  TRANSPORTE    FS      755.860000