In [1]:
import pandas as pd
from glob import glob
import os

In [2]:
arquivos=glob('*.xlsx')

arquivos

['BASE CLIENTES SAVEURS.xlsx', 'Carteira.xlsx']

In [3]:
tabelas_df=dict()

for id,tabela in enumerate(arquivos):
    
    tabelas_df[id]=pd.read_excel(tabela)
        
    pass

In [7]:
tabelas_df[0]['Razão Social']=tabelas_df[0]['Razão Social'].apply(lambda info: info[:info.find('*')])

tabelas_df[0]['Razão Social']=tabelas_df[0]['Razão Social'].str.upper()

In [10]:
tabelas_df[0].merge(tabelas_df[1],on='Endereço',how='inner')

Empty DataFrame
Columns: [Razão Social_x, Categ, Endereço, Bairro_x, Cidade, Visita, Pagto, Semana, Vendedor, Equipe, Supervisor, ID Cliente, CNPJ, Razão Social_y, Nome Fantasia, Status do Cliente, Matriz, Segmento, Canal, CEP, Bairro_y, Município, UF, Número, Região, Distrito, Status Promotor, Status de Compra, Últ. Compra, Dias Últ, Classificação do Cliente, Contato, Carteira, MIX, Pedidos, Total (R$)]
Index: []

[0 rows x 36 columns]

In [12]:
tabelas_df[1].columns

Index(['Vendedor', 'Equipe', 'Supervisor', 'ID Cliente', 'CNPJ',
       'Razão Social', 'Nome Fantasia', 'Status do Cliente', 'Matriz',
       'Segmento', 'Canal', 'CEP', 'Endereço', 'Bairro', 'Município', 'UF',
       'Número', 'Região', 'Distrito', 'Status Promotor', 'Status de Compra',
       'Últ. Compra', 'Dias Últ', 'Classificação do Cliente', 'Contato',
       'Carteira', 'MIX', 'Pedidos', 'Total (R$)'],
      dtype='object')

In [15]:
tabelas_df[0].to_excel('Base Ajustada.xlsx',index=False,encoding='ISO-8859-1')