In [1]:
import pandas as pd
from Acesso import Login
from Query import Query

pd.set_option('display.max_columns',None)

s=Login()

sql=Query(s.usuario,s.senha,s.database,s.server)

In [2]:
querys={
    
    
    'Margens':
    
    """
    
    SELECT * FROM netfeira.vw_margens
    
    """,
    
    'Cliente':
    
    """
    
    SELECT * FROM netfeira.vw_cliente
    
    """,
    
    'Produto':
    
    """
    
    SELECT * FROM netfeira.vw_produto
    
    """,
    
    'Segmento':
    
    """
    
    SELECT * FROM netfeira.vw_segmento
    
    """,
    
    'Vendedor':
    
    """
    
    SELECT * FROM netfeira.vw_vendedor
    
    """,
    
    'Supervisor':
    
    """
    
    SELECT * FROM netfeira.vw_supervisor
    
    """,
    
    'TabMargem':
    
    """
    
    SELECT * FROM netfeira.vw_targetmargem
    
    """
    
}

In [3]:
tabelas=sql.CriarTabela(kwargs=querys)

In [4]:
tabelas['Cliente'].columns

Index(['ID Cliente', 'CNPJ', 'CNPJ Caracter', 'Razão Social', 'Nome Fantasia',
       'Tipo de Cliente', 'Status do Cliente', 'ID Segmento', 'Matriz',
       'Crédito', 'Data de Cadastro', 'Primeira Compra', 'Última Compra',
       'Dias Compra', 'Tabela', 'Condição de Pagto', 'Prazo Pagto',
       'Pagamento', 'CEP', 'Endereço', 'Bairro', 'Município', 'Numero',
       'Complemento', 'Região', 'UF', 'DDD', 'Contato', 'Limite de Crédito',
       'Principal', 'E-mail Cliente', 'Tributação do Cliente', 'ID Rota',
       'Latitude', 'Longitude'],
      dtype='object')

In [5]:
tabelas['Segmento'].columns

Index(['ID Segmento', 'Segmento', 'Canal'], dtype='object')

In [6]:
tabelas['Cliente']=tabelas['Cliente'].merge(tabelas['Segmento'],on='ID Segmento',how='inner')[['ID Cliente', 'CNPJ', 'CNPJ Caracter', 'Razão Social', 'Nome Fantasia',
       'Tipo de Cliente', 'Status do Cliente', 'Segmento','Canal', 'Matriz',
       'Crédito', 'Data de Cadastro', 'Primeira Compra', 'Última Compra',
       'Dias Compra', 'Tabela', 'Condição de Pagto', 'Prazo Pagto',
       'Pagamento', 'CEP', 'Endereço', 'Bairro', 'Município', 'Numero',
       'Complemento', 'Região', 'UF', 'DDD', 'Contato', 'Limite de Crédito',
       'Principal', 'E-mail Cliente', 'Tributação do Cliente', 'ID Rota',
       'Latitude', 'Longitude']]

In [7]:
tabelas['Cliente'].columns

Index(['ID Cliente', 'CNPJ', 'CNPJ Caracter', 'Razão Social', 'Nome Fantasia',
       'Tipo de Cliente', 'Status do Cliente', 'Segmento', 'Canal', 'Matriz',
       'Crédito', 'Data de Cadastro', 'Primeira Compra', 'Última Compra',
       'Dias Compra', 'Tabela', 'Condição de Pagto', 'Prazo Pagto',
       'Pagamento', 'CEP', 'Endereço', 'Bairro', 'Município', 'Numero',
       'Complemento', 'Região', 'UF', 'DDD', 'Contato', 'Limite de Crédito',
       'Principal', 'E-mail Cliente', 'Tributação do Cliente', 'ID Rota',
       'Latitude', 'Longitude'],
      dtype='object')

In [8]:
tabelas['Vendedor'].columns

Index(['ID Vendedor', 'Vendedor', 'Nome Resumido', 'ID Equipe', 'E-mail',
       'Categoria', 'Data de Cadastro', 'Status do Vendedor'],
      dtype='object')

In [9]:
tabelas['Supervisor'].columns

Index(['ID Equipe', 'Equipe', 'ID Sup', 'Supervisor', 'Email Sup',
       'ID Gerente', 'Gerente', 'Email Gerente'],
      dtype='object')

In [10]:
tabelas['Vendedor']=tabelas['Vendedor'].merge(tabelas['Supervisor'],on='ID Equipe',how='inner')[['ID Vendedor', 'Vendedor', 'Nome Resumido', 'Equipe', 'E-mail',
       'Categoria', 'Status do Vendedor','Supervisor', 'Email Sup','Gerente', 'Email Gerente']]

In [11]:
tabelas['Vendedor'].columns

Index(['ID Vendedor', 'Vendedor', 'Nome Resumido', 'Equipe', 'E-mail',
       'Categoria', 'Status do Vendedor', 'Supervisor', 'Email Sup', 'Gerente',
       'Email Gerente'],
      dtype='object')

In [12]:
tabelas['Produto'].columns

Index(['SKU', 'Cód. Fabricante', 'Produto', 'Status', 'Fabricante',
       'Departamento', 'Seção', 'Categoria', 'Linha', 'Grupo de Produtos',
       'Grupo Indústria', 'Grupo de Meta', 'Grupo MCCAIN', 'Linha Fabrica',
       'Grupo de Promotores', 'Peso Liquido', 'Peso Bruto', 'Fator CX',
       'Unid. CMP', 'Unid. STK', 'Fator CMP', 'Fotos', 'EAN', 'DUN',
       'Peso Liquido Caixa', 'Peso Bruto Caixa', 'Fator Unid CMP'],
      dtype='object')

In [13]:
tabelas['TabMargem'].columns

Index(['SKU', 'Produto', 'Fabricante', 'Departamento', 'Seção', 'Categoria',
       'Linha', 'Margem B', 'Margem F', 'Margem Média'],
      dtype='object')

In [14]:
tabelas['Margens'].columns

Index(['Origem', 'Situação Entrega', 'ID Situação', 'Situação', 'Pedido',
       'NFe', 'Tipo de Pedido', 'Tipo de Operação', 'Tabelas',
       'Data de Emissão', 'Data de Faturamento', 'Data de Entrega', 'Empresa',
       'ID Cliente', 'ID Vendedor', 'SKU', 'Seq', 'Qtde', 'Unid. VDA', 'Fator',
       'Qtde. VDA', 'Valor VDA', 'Total Venda', 'Total AV', 'MG CRP',
       'Margem CUE', 'Margem CMP', 'Margem CRP', 'MG CUE', 'MG CMP',
       'Comsissão R$', 'COFINS R$', 'PIS R$', 'ICMS R$', 'ICMS ST R$',
       'IPI R$', 'Peso Bruto KG', 'Peso Líquido KG', 'Total Geral'],
      dtype='object')

In [23]:
vendas_df=pd.DataFrame()

vendas_df=tabelas['Margens']

In [24]:
vendas_df=vendas_df.loc[vendas_df['Tipo de Operação']=='VENDAS']

In [25]:
perc_med=round(tabelas['TabMargem']['Margem Média'].mean(),4)*100

perc_min=round(tabelas['TabMargem']['Margem F'].mean(),4)*100

perc_ideal=int(round((perc_med+perc_min)/2,2))

perc_ideal

32

In [26]:
vendas_df=vendas_df.merge(tabelas['Cliente'],on='ID Cliente',how='inner')[['Origem', 'Situação Entrega', 'ID Situação', 'Situação', 'Pedido',
       'NFe', 'Tipo de Pedido', 'Tipo de Operação', 'Tabelas',
       'Data de Emissão', 'Data de Faturamento', 'Data de Entrega', 'Empresa',
       'ID Cliente','CNPJ', 'CNPJ Caracter', 'Razão Social', 'Nome Fantasia',
       'Tipo de Cliente', 'Status do Cliente', 'Segmento', 'Canal', 'Matriz',
       'Crédito', 'Data de Cadastro', 'Primeira Compra', 'Última Compra',
       'Dias Compra', 'Tabela', 'Condição de Pagto', 'Prazo Pagto',
       'Pagamento', 'CEP', 'Endereço', 'Bairro', 'Município', 'Numero',
       'Complemento', 'Região', 'UF', 'DDD', 'Contato', 'Limite de Crédito',
       'Principal', 'E-mail Cliente', 'Tributação do Cliente', 'ID Rota',
       'Latitude', 'Longitude', 'ID Vendedor', 'SKU', 'Seq', 'Qtde', 'Unid. VDA', 'Fator',
       'Qtde. VDA', 'Valor VDA', 'Total Venda', 'Total AV', 'MG CRP',
       'Margem CUE', 'Margem CMP', 'Margem CRP', 'MG CUE', 'MG CMP',
       'Comsissão R$', 'COFINS R$', 'PIS R$', 'ICMS R$', 'ICMS ST R$',
       'IPI R$', 'Peso Bruto KG', 'Peso Líquido KG', 'Total Geral']]

In [27]:
vendas_df=vendas_df.merge(tabelas['Vendedor'],on='ID Vendedor',how='inner')[['Origem', 'Situação Entrega', 'ID Situação', 'Situação', 'Pedido',
       'NFe', 'Tipo de Pedido', 'Tipo de Operação', 'Tabelas',
       'Data de Emissão', 'Data de Faturamento', 'Data de Entrega', 'Empresa',
       'ID Cliente','CNPJ', 'CNPJ Caracter', 'Razão Social', 'Nome Fantasia',
       'Tipo de Cliente', 'Status do Cliente', 'Segmento', 'Canal', 'Matriz',
       'Crédito', 'Data de Cadastro', 'Primeira Compra', 'Última Compra',
       'Dias Compra', 'Tabela', 'Condição de Pagto', 'Prazo Pagto',
       'Pagamento', 'CEP', 'Endereço', 'Bairro', 'Município', 'Numero',
       'Complemento', 'Região', 'UF', 'DDD', 'Contato', 'Limite de Crédito',
       'Principal', 'E-mail Cliente', 'Tributação do Cliente', 'ID Rota',
       'Latitude', 'Longitude', 'ID Vendedor','Vendedor', 'Nome Resumido', 'Equipe', 'E-mail',
       'Categoria', 'Status do Vendedor', 'Supervisor', 'Email Sup', 'Gerente',
       'Email Gerente', 'SKU', 'Seq', 'Qtde', 'Unid. VDA', 'Fator',
       'Qtde. VDA', 'Valor VDA', 'Total Venda', 'Total AV', 'MG CRP',
       'Margem CUE', 'Margem CMP', 'Margem CRP', 'MG CUE', 'MG CMP',
       'Comsissão R$', 'COFINS R$', 'PIS R$', 'ICMS R$', 'ICMS ST R$',
       'IPI R$', 'Peso Bruto KG', 'Peso Líquido KG', 'Total Geral']]

In [29]:
vendas_df=vendas_df.merge(tabelas['Produto'],on='SKU',how='inner')[['Origem', 'Situação Entrega', 'ID Situação', 'Situação', 'Pedido',
       'NFe', 'Tipo de Pedido', 'Tipo de Operação', 'Tabelas',
       'Data de Emissão', 'Data de Faturamento', 'Data de Entrega', 'Empresa',
       'ID Cliente','CNPJ', 'CNPJ Caracter', 'Razão Social', 'Nome Fantasia',
       'Tipo de Cliente', 'Status do Cliente', 'Segmento', 'Canal', 'Matriz',
       'Crédito', 'Data de Cadastro', 'Primeira Compra', 'Última Compra',
       'Dias Compra', 'Tabela', 'Condição de Pagto', 'Prazo Pagto',
       'Pagamento', 'CEP', 'Endereço', 'Bairro', 'Município', 'Numero',
       'Complemento', 'Região', 'UF', 'DDD', 'Contato', 'Limite de Crédito',
       'Principal', 'E-mail Cliente', 'Tributação do Cliente', 'ID Rota',
       'Latitude', 'Longitude', 'ID Vendedor','Vendedor', 'Nome Resumido', 'Equipe', 'E-mail',
       'Status do Vendedor', 'Supervisor', 'Email Sup', 'Gerente',
       'Email Gerente', 'SKU','Produto', 'Status', 'Fabricante','Linha', 'Seq', 'Qtde', 'Unid. VDA', 'Fator',
       'Qtde. VDA', 'Valor VDA', 'Total Venda', 'Total AV', 'MG CRP',
       'Margem CUE', 'Margem CMP', 'Margem CRP', 'MG CUE', 'MG CMP',
       'Comsissão R$', 'COFINS R$', 'PIS R$', 'ICMS R$', 'ICMS ST R$',
       'IPI R$', 'Peso Bruto KG', 'Peso Líquido KG', 'Total Geral']]

In [30]:
vendas_df=vendas_df.loc[(vendas_df['Data de Faturamento'].dt.year==2022)&(vendas_df['Data de Faturamento'].dt.month==9)]

In [31]:
canal_df=pd.DataFrame()

canal_df=vendas_df[['Canal','Total Venda','Margem CUE']].groupby(['Canal'],as_index=False).sum()

canal_df['Perc %']=round(canal_df['Margem CUE']/canal_df['Total Venda'],4)*100

canal_df.sort_values('Perc %',ascending=False,inplace=True)

canal_df

  Canal  Total Venda  Margem CUE  Perc %
1   B2C     56910.42    22363.13   39.30
2    FS   2250390.84   806543.41   35.84
0    AS   1858369.57   433420.78   23.32

In [32]:
canais=canal_df['Canal'].loc[canal_df['Perc %']<perc_ideal].unique().tolist()

canais

['AS']

In [33]:
segmento_df=pd.DataFrame()

segmento_df=vendas_df[['Segmento','Total Venda','Margem CUE']].loc[vendas_df['Canal'].isin(canais)].groupby(['Segmento'],as_index=False).sum()

segmento_df['Perc %']=round(segmento_df['Margem CUE']/segmento_df['Total Venda'],4)*100

segmento_df.sort_values('Total Venda',ascending=False,inplace=True)

segmentos=segmento_df['Segmento'].loc[segmento_df['Perc %']<perc_ideal].unique().tolist()

segmento_df.loc[segmento_df['Perc %']<perc_ideal]

               Segmento  Total Venda  Margem CUE  Perc %
1           10 OU + CHK    542524.75   134034.83   24.71
2             5 A 9 CHK    473138.09   113258.54   23.94
0             1 A 4 CHK    351648.07    74216.18   21.11
8          DISTRIBUIDOR    129094.14    38228.83   29.61
3             ATACAREJO    120683.12    12203.79   10.11
14            MERCEARIA     55876.56    11755.09   21.04
4               AÇOUGUE     40241.26     5209.42   12.95
6   CANAL ESPECIALIZADO     14689.11     3207.70   21.84
12          FUNCIONARIO      6831.20     -618.32   -9.05

In [34]:
len(segmento_df['Segmento'].loc[segmento_df['Perc %']<perc_ideal].unique().tolist())

9

In [35]:
segmento_df['Perc %'].loc[segmento_df['Perc %']>=perc_ideal].mean()

37.244285714285716

In [36]:
segmento_df['Perc %'].loc[segmento_df['Perc %']<perc_ideal].mean()

17.36222222222222

In [37]:
tabelas_df=pd.DataFrame()

tabelas_df=vendas_df[['Tabelas','Total Venda','Margem CUE']].loc[(vendas_df['Canal'].isin(canais)&(vendas_df['Segmento'].isin(segmentos)))].groupby(['Tabelas'],as_index=False).sum()

tabelas_df['Perc %']=round(tabelas_df['Margem CUE']/tabelas_df['Total Venda'],4)*100

tabelas_df.sort_values('Total Venda',ascending=False,inplace=True)

tab=tabelas_df['Tabelas'].loc[tabelas_df['Perc %']<perc_ideal].unique().tolist()

tabelas_df.loc[tabelas_df['Perc %']<perc_ideal]

                 Tabelas  Total Venda  Margem CUE  Perc %
9        TABELA DE PREÇO    932018.97   233625.77   25.07
8   TABELA DE NEGOCIAÇÃO    500324.10    86189.31   17.23
6                  SONDA    135938.78    37430.05   27.53
1         DISTRIBUIDORES     72924.03    22356.19   30.66
0                  CHAMA     21585.75     3043.45   14.10
5              PEGE PESE     20461.64     1717.46    8.39
7              ST MARCHE     14417.89       85.47    0.59
3                  LOPES     11911.32     3002.73   25.21
10    TABELA FUNCIONÁRIO      6870.66      601.80    8.76
12              YAMAUCHI      2259.84      325.45   14.40
11            TABELA OBA      2149.20       87.20    4.06
2                   FEFO       339.50    -1394.40 -410.72

In [38]:
matriz_df=pd.DataFrame()

matriz_df=vendas_df[['Matriz','Total Venda','Margem CUE']].loc[(vendas_df['Canal'].isin(canais))&(vendas_df['Tabelas'].isin(tab))&(vendas_df['Segmento'].isin(segmentos))].groupby(['Matriz'],as_index=False).sum()

matriz_df['Perc %']=round(matriz_df['Margem CUE']/matriz_df['Total Venda'],4)*100

matriz_df.sort_values('Perc %',ascending=True,inplace=True)

redes=matriz_df['Matriz'].loc[matriz_df['Perc %']<perc_ideal].unique().tolist()

matriz_df.loc[matriz_df['Perc %']<perc_ideal]

                     Matriz  Total Venda  Margem CUE  Perc %
14               FOX CARNES       838.18    -2705.87 -322.83
69      SUPERMERCADO BEMBOM      3691.16    -4702.63 -127.40
81                  ZAFFARI      5929.46    -1244.54  -20.99
35       MERCADO BOM DEMAIS      6913.94    -1232.33  -17.82
63                ST MARCHE     16824.09      388.33    2.31
10          DIAS PASTORINHO      3056.40       75.58    2.47
51                 REDE OBA      1227.00       68.00    5.54
3               BRASILEIRAO     42791.03     2763.45    6.46
5                     CHAMA     32847.34     2855.41    8.69
16                    GERAL        43.70        4.04    9.24
13               FONTE NOVA     14523.68     1670.08   11.50
80                 YAMAUCHI      2259.84      325.45   14.40
50               REDE KRILL     21554.00     4043.72   18.76
54        RP SANTO COMERCIO     57755.42    11288.61   19.55
44                 PEG PESE     15117.42     3158.30   20.89
26                    MAMBO     31577.74     7337.41   23.24
47            REDE FLAMENGO      1613.70      377.61   23.40
42                NEGREIROS      5067.96     1285.82   25.37
36           MERCADO CHIMAR      5986.77     1567.32   26.18
27                   MASTER     29422.16     7707.07   26.19
66      SUPER VAREJÃO SAÚDE      7117.33     1863.92   26.19
57                SAITO BOX      4609.27     1236.86   26.83
12          FEDERZONI SUPER      2366.40      635.99   26.88
24                 LOPES SM     22567.14     6101.40   27.04
62                    SONDA    135938.78    37430.05   27.53
40        MIX SUPERMERCADOS       164.53       45.53   27.67
37          MERCADO DONATTI       648.90      180.06   27.75
43                     OXXO     54008.30    15238.07   28.21
20                   HIROTA     60952.92    17472.49   28.67
29           MAXIMO ATACADO     15487.80     4444.02   28.69
6               CHOCOLANDIA     28105.07     8077.71   28.74
48           REDE GONCALVES       529.68      154.61   29.19
9                      DAKI      2801.40      830.07   29.63
60                SAO JORGE     16494.27     4892.47   29.66
11                 EMPORIUM     14207.54     4244.30   29.87
39          MERCADO NAVARRO       820.36      245.52   29.93
76       SUPERMERCADO TOKIO      1240.28      372.20   30.01
64          SUP. LOURENCINI     15051.67     4516.75   30.01
8      COMERCIO DE ALIMENTO       590.75      179.02   30.30
73      SUPERMERCADO PADRAO      4526.66     1374.04   30.35
25                   MADRID     24203.63     7420.10   30.66
79          VILA DAS FRUTAS     16469.38     5079.90   30.84
41         NATURAL DA TERRA     12530.41     3894.76   31.08
72      SUPERMERCADO CARPAN       921.81      287.46   31.18
68  SUPERMERCADO BEIRA ALTA      7028.40     2196.23   31.25
33      MERCADINHO SAO JOAQ       465.60      145.88   31.33
55         SACOLÃO DO CAMPO      1600.22      501.31   31.33
74     SUPERMERCADO RECANTO      3663.84     1158.00   31.61

In [39]:
matriz_df['Perc %'].loc[matriz_df['Perc %']>=perc_ideal].mean()

35.790294117647065

In [40]:
matriz_df['Perc %'].loc[matriz_df['Perc %']<perc_ideal].mean()

12.032916666666667

In [41]:
cli_df=pd.DataFrame()

cli_df=vendas_df[['Matriz','ID Cliente','CNPJ','Razão Social','Nome Fantasia','Total Venda','Margem CUE']].loc[(vendas_df['Canal'].isin(canais))&(vendas_df['Tabelas'].isin(tab))&(vendas_df['Segmento'].isin(segmentos))&(vendas_df['Matriz'].isin(redes))].groupby(['Matriz','ID Cliente','CNPJ','Razão Social','Nome Fantasia'],as_index=False).sum()

cli_df['Perc %']=round(cli_df['Margem CUE']/cli_df['Total Venda'],4)*100

cli_df.sort_values('Perc %',ascending=False,inplace=True)

codigos=cli_df['ID Cliente'].loc[cli_df['Perc %']<perc_ideal].unique().tolist()

cli_df.loc[cli_df['Perc %']<perc_ideal]

,Matriz,ID Cliente,CNPJ,Razão Social,Nome Fantasia,Total Venda,Margem CUE,Perc %
386,SUPERMERCADO CARPAN,20372,09618077000366,PEREIRA E CARDOSO COM DE PROD ALI LTDA,SUPERMERCADO CARPAN,537.07,171.57,31.95
338,ST MARCHE,7995,05133930000137,SANCTUS COMERCIO DE ALIMENTOS LTDA,ST MARCHE COMENDADOR,156.00,49.76,31.90
259,PEG PESE,16988,60479680000957,PEG PESE SUPERMERCADOS IMPORTACAO E EXPO,PEG PESE PEDRO CRIST,1535.86,489.12,31.85
96,LOPES SM,25372,45827425003203,SUPERMERCADOS IRMÃOS LOPES SA,LOPES ITAIM PAULISTA,733.56,233.39,31.82
337,SONDA,22828,01937635005141,SONDA SUPERMERCADOS EXPORTACAO E IMPORTACAO S.A,SONDA LJ 1051 ROMANA,4777.24,1519.80,31.81
...,...,...,...,...,...,...,...,...
342,ST MARCHE,8001,08853758000184,VIA COMERCIO DE ALIMENTOS LTDA,ST MARCHE ESTRADA AL,313.60,-126.40,-40.31
384,SUPERMERCADO BEMBOM,21144,01797136000137,SUPERMERCADO BEMBOM EIRELI,SUPERMERCADO BEMBOM,3188.28,-1894.67,-59.43
113,MERCADO BOM DEMAIS,20385,07425463000144,LUCINEIDE DE SANTOS SIROMA ME,MERCADO BOM DEMAIS,1484.88,-2482.31,-167.17
66,FOX CARNES,23711,14627296000180,LUCARNES LTDA,FOX CARNES,838.18,-2705.87,-322.83
383,SUPERMERCADO BEMBOM,12802,01797136000218,SUPERMERCADO BEMBOM EIRELI,SUPERMERCADO BEMBOM,502.88,-2807.96,-558.38

In [42]:
cli_df['Perc %'].loc[cli_df['Perc %']>=perc_ideal].mean()

36.7275

In [43]:
cli_df['Perc %'].loc[cli_df['Perc %']<perc_ideal].mean()

19.99611979166669

In [44]:
cli_df['Perc %'].mean()

20.824405940594072

In [74]:
df=pd.DataFrame()

df=vendas_df.loc[(vendas_df['Canal'].isin(canais))&(vendas_df['Tabelas'].isin(tab))&(vendas_df['Segmento'].isin(segmentos))&(vendas_df['Matriz'].isin(redes))&(vendas_df['ID Cliente'].isin(codigos))]

df['Perc %']=df.apply(lambda info: round(info['Margem CUE']/info['Total Venda'],4)*100 if info['Total Venda']>0 else 0,axis=1)

df=df.loc[df['Perc %']<perc_ideal]

C:\Users\eduardo\AppData\Local\Temp/ipykernel_17348/1719869664.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Perc %']=df.apply(lambda info: round(info['Margem CUE']/info['Total Venda'],4)*100 if info['Total Venda']>0 else 0,axis=1)

In [77]:
for sup in df['Supervisor'].unique().tolist():
    
    
    df.loc[df['Supervisor']==sup].to_excel(f'{sup}.xlsx',index=False,encoding='ISO-8859-1')
    
    pass

print('Arquivo gerado')

Arquivo gerado