In [1]:
from ConectionSQL import SQL
import pandas as pd
from Tempo import DataHora

data=DataHora()

sql=SQL('Netfeira','sqlserver','MOINHO','192.168.0.252')

conectando=sql.ConexaoSQL()

In [2]:
querys={
    
    'Carteira':"""
        
    SELECT * FROM netfeira.vw_carteira
    
    
    """,
    
    'Revisão':"""
        
    SELECT * FROM netfeira.vw_revisao
        
    """
    
}

In [3]:
tabelas_df=dict()

for tabela,query in querys.items():
    
    tabelas_df[tabela]=pd.read_sql(query,conectando)
    
    pass

In [4]:
tabelas_df['Carteira'].columns

Index(['ID Cliente', 'CNPJ', 'Caracter CNPJ', 'Razão Social', 'Nome Fantasia',
       'Status do Cliente', 'Matriz', 'ID Segmento', 'Tabela',
       'Condição de Pagto', 'Prazo', 'Forma Pagto', 'Crédito', 'Tributação',
       'CEP', 'Endereço', 'Bairro', 'Cidade', 'UF', 'Numero', 'Complemento',
       'Latitude', 'Longitude', 'Região', 'DDD', 'Contato', 'ID Vendedor',
       'Nome', 'Nome Resumido', 'E-mail', 'Categoria', 'Equipe', 'Supervisor',
       'Email Sup', 'Gerente', 'Email Gerente', 'Principal', 'Primeira Compra',
       'Última Compra', 'Seq', 'Dias'],
      dtype='object')

In [5]:
tabelas_df['Revisão'].columns

Index(['Data de Faturamento', 'ID Cliente', 'ID Vendedor', 'Vendedor',
       'Total do Pedido', 'Dias do Pedido'],
      dtype='object')

In [6]:
carteira_df=tabelas_df['Carteira'].loc[tabelas_df['Carteira']['Equipe'].str.contains('120')]

In [7]:
tabelas_df['Revisão'].rename(columns={'ID Vendedor':'ID Novo','Vendedor':'Vendedor Novo'},inplace=True)

In [8]:
tabelas_df['Revisão'].columns

Index(['Data de Faturamento', 'ID Cliente', 'ID Novo', 'Vendedor Novo',
       'Total do Pedido', 'Dias do Pedido'],
      dtype='object')

In [9]:
carteira_df=carteira_df.merge(tabelas_df['Revisão'],on='ID Cliente',how='left')[['ID Cliente', 'CNPJ', 'Caracter CNPJ', 'Razão Social', 'Nome Fantasia',
       'Status do Cliente', 'Matriz', 'ID Segmento', 'Tabela',
       'Condição de Pagto', 'Prazo', 'Forma Pagto', 'Crédito', 'Tributação',
       'CEP', 'Endereço', 'Bairro', 'Cidade', 'UF', 'Numero', 'Complemento',
       'Latitude', 'Longitude', 'Região', 'DDD', 'Contato', 'ID Vendedor',
       'Nome', 'Nome Resumido', 'E-mail', 'Categoria', 'Equipe', 'Supervisor',
       'Email Sup', 'Gerente', 'Email Gerente', 'Principal', 'Primeira Compra',
       'Última Compra', 'Seq', 'Dias','Data de Faturamento','ID Novo','Vendedor Novo', 'Total do Pedido',
       'Dias do Pedido']]

In [10]:
data_atual=data.HoraAtual()

In [11]:
#&(carteira_df['Data de Faturamento'].dt.year==data_atual.year)&(carteira_df['Data de Faturamento'].dt.month==data_atual.month)
carteira_df=carteira_df.loc[(carteira_df['Dias do Pedido']<=365)]

In [12]:
carteira_df.columns

Index(['ID Cliente', 'CNPJ', 'Caracter CNPJ', 'Razão Social', 'Nome Fantasia',
       'Status do Cliente', 'Matriz', 'ID Segmento', 'Tabela',
       'Condição de Pagto', 'Prazo', 'Forma Pagto', 'Crédito', 'Tributação',
       'CEP', 'Endereço', 'Bairro', 'Cidade', 'UF', 'Numero', 'Complemento',
       'Latitude', 'Longitude', 'Região', 'DDD', 'Contato', 'ID Vendedor',
       'Nome', 'Nome Resumido', 'E-mail', 'Categoria', 'Equipe', 'Supervisor',
       'Email Sup', 'Gerente', 'Email Gerente', 'Principal', 'Primeira Compra',
       'Última Compra', 'Seq', 'Dias', 'Data de Faturamento', 'ID Novo',
       'Vendedor Novo', 'Total do Pedido', 'Dias do Pedido'],
      dtype='object')

In [13]:
carteira_df.rename(columns={'ID Vendedor':'ID Antigo','Nome':'Vendedor Antigo'},inplace=True)

carteira_df.columns

Index(['ID Cliente', 'CNPJ', 'Caracter CNPJ', 'Razão Social', 'Nome Fantasia',
       'Status do Cliente', 'Matriz', 'ID Segmento', 'Tabela',
       'Condição de Pagto', 'Prazo', 'Forma Pagto', 'Crédito', 'Tributação',
       'CEP', 'Endereço', 'Bairro', 'Cidade', 'UF', 'Numero', 'Complemento',
       'Latitude', 'Longitude', 'Região', 'DDD', 'Contato', 'ID Antigo',
       'Vendedor Antigo', 'Nome Resumido', 'E-mail', 'Categoria', 'Equipe',
       'Supervisor', 'Email Sup', 'Gerente', 'Email Gerente', 'Principal',
       'Primeira Compra', 'Última Compra', 'Seq', 'Dias',
       'Data de Faturamento', 'ID Novo', 'Vendedor Novo', 'Total do Pedido',
       'Dias do Pedido'],
      dtype='object')

In [14]:
carteira_df=carteira_df[['ID Cliente','CNPJ','Razão Social', 'Nome Fantasia','Data de Faturamento','Dias do Pedido','ID Antigo',
       'Vendedor Antigo','ID Novo','Vendedor Novo','Seq']].sort_values('Dias do Pedido',ascending=False)

In [15]:
carteira_df.loc[carteira_df['Seq']==1]

,ID Cliente,CNPJ,Razão Social,Nome Fantasia,Data de Faturamento,Dias do Pedido,ID Antigo,Vendedor Antigo,ID Novo,Vendedor Novo,Seq
6770,24749,05331354000132,ARAULO & MAIA LTDA,RECANTO DA VILA,2021-06-14,361.0,CLISEMCO,CLIENTE 120,MICHAELM,MICHAEL FRANCIS MUNIZ RODRIGUEZ,1
6438,24243,58851734000164,ACOUGUE E MERCEARIA AVENIDA LTDA,ACOUGUE E MERCEARIA,2021-06-15,360.0,CLISEMCO,CLIENTE 120,LEONELM,LEONEL MUNHOZ,1
1994,17747,00235182000180,MARIA HELENA STABILE DA SILVA - ME,MARIA HELENA STABILE,2021-06-17,358.0,CLISEMCO,CLIENTE 120,TABATA,TABATA CRISTINA ORSI GENTIL,1
3859,20615,29742719000180,MERCADINHO LEBLON LTDA,MERCADINHO LEBLON LT,2021-06-21,354.0,CLISEMCO,CLIENTE 120,ANDERPIE,ANDERSON PIERO TIFA,1
3885,20660,00475610000141,GLC COMERCIO DE ALIMENTOS LTDA,QQUALITY,2021-06-28,347.0,CLISEMCO,CLIENTE 120,ALENOGUE,ALEXANDRE NOGUEIRA ANTONOF,1
...,...,...,...,...,...,...,...,...,...,...,...
7207,25576,02727617000309,J M SIQUEIRA ALVES,PRATICO LJ 03,2022-05-20,21.0,CLISEMCO,CLIENTE 120,JULIODEL,JULIO C DELFINO,1
7206,25575,02727617000210,J M SIQUEIRA ALVES,PRATICO LJ 02,2022-05-20,21.0,CLISEMCO,CLIENTE 120,JULIODEL,JULIO C DELFINO,1
7211,25580,02727617000805,J M SIQUEIRA ALVES,PRATICO LJ 08,2022-05-20,21.0,CLISEMCO,CLIENTE 120,JULIODEL,JULIO C DELFINO,1
7243,25651,07182329000402,MAGNANIMO COMERCIAL IMPORTACAO E EXPORTACAO LTDA,MAGNANIMO LJ 04,2022-05-23,18.0,CLISEMCO,CLIENTE 120,JULIODEL,JULIO C DELFINO,1
7105,25336,26137020282,VIRGINIA SOUZA,VIRGINIA SOUZA,2022-05-24,17.0,CLISEMCO,CLIENTE 120,BRUNA,BRUNA ALVES LORENÇATO,1

In [24]:
carteira_dict={1:carteira_df.loc[carteira_df['Seq']==1],2:carteira_df.loc[carteira_df['Seq']>1]}

carteira_dict

{1:       ID Cliente            CNPJ  \
 6770       24749  05331354000132
 6438       24243  58851734000164
 1994       17747  00235182000180
 3859       20615  29742719000180
 3885       20660  00475610000141
 ...          ...             ...
 7207       25576  02727617000309
 7206       25575  02727617000210
 7211       25580  02727617000805
 7243       25651  07182329000402
 7105       25336     26137020282

                                           Razão Social         Nome Fantasia  \
 6770                                ARAULO & MAIA LTDA       RECANTO DA VILA
 6438                  ACOUGUE E MERCEARIA AVENIDA LTDA   ACOUGUE E MERCEARIA
 1994                MARIA HELENA STABILE DA SILVA - ME  MARIA HELENA STABILE
 3859                            MERCADINHO LEBLON LTDA  MERCADINHO LEBLON LT
 3885                    GLC COMERCIO DE ALIMENTOS LTDA              QQUALITY
 ...                                                ...                   ...
 7207                                J M SIQUEIRA ALVES         PRATICO LJ 03
 7206                                J M SIQUEIRA ALVES         PRATICO LJ 02
 7211                                J M SIQUEIRA ALVES         PRATICO LJ 08
 7243  MAGNANIMO COMERCIAL IMPORTACAO E EXPORTACAO LTDA       MAGNANIMO LJ 04
 7105                                    VIRGINIA SOUZA        VIRGINIA SOUZA

      Data de Faturamento  Dias do Pedido ID Antigo Vendedor Antigo   ID Novo  \
 6770          2021-06-14           361.0  CLISEMCO     CLIENTE 120  MICHAELM
 6438          2021-06-15           360.0  CLISEMCO     CLIENTE 120  LEONELM
 1994          2021-06-17           358.0  CLISEMCO     CLIENTE 120  TABATA
 3859          2021-06-21           354.0  CLISEMCO     CLIENTE 120  ANDERPIE
 3885          2021-06-28           347.0  CLISEMCO     CLIENTE 120  ALENOGUE
 ...                  ...             ...       ...             ...       ...
 7207          2022-05-20            21.0  CLISEMCO     CLIENTE 120  JULIODEL
 7206          2022-05-20            21.0  CLISEMCO     CLIENTE 120  JULIODEL
 7211          2022-05-20            21.0  CLISEMCO     CLIENTE 120  JULIODEL
 7243          2022-05-23            18.0  CLISEMCO     CLIENTE 120  JULIODEL
 7105          2022-05-24            17.0  CLISEMCO     CLIENTE 120  BRUNA

                         Vendedor Novo  Seq
 6770  MICHAEL FRANCIS MUNIZ RODRIGUEZ    1
 6438                    LEONEL MUNHOZ    1
 1994      TABATA CRISTINA ORSI GENTIL    1
 3859              ANDERSON PIERO TIFA    1
 3885       ALEXANDRE NOGUEIRA ANTONOF    1
 ...                               ...  ...
 7207                  JULIO C DELFINO    1
 7206                  JULIO C DELFINO    1
 7211                  JULIO C DELFINO    1
 7243                  JULIO C DELFINO    1
 7105            BRUNA ALVES LORENÇATO    1

 [153 rows x 11 columns],
 2:       ID Cliente            CNPJ                                 Razão Social  \
 3009       19514  28338487000136     RENACER COMERCIO DE PRODUTOS ALIMENTICIO
 3068       19596  26695763000198        HORTIFRUTI NOVA MIRANDOPOLIS LTDA EPP
 1303       15770  57607053000192      PANIFICADORA SANTA MARIA GORETTI EIRELI
 924        13755  73152423000109              MARSEILLE PAES E DOCES LTDA EPP
 4884       21976  32302326000160                                     FANG HAN
 5871       23432  27363817000180           TAIS VASCONCELOS SANTOS DE ALMEIDA
 1539       16520  07748784000180                    MERCADINHO LUIS GOES LTDA
 2541       18861  07583041001250                   COMERCIAL CHOCOLANDIA LTDA
 349         8460  43312164000167                   SUPERMERCADO FLAMENGO LTDA
 5515       22868  32143155000173  RAQUEL PRISCILA SALOIO DA SILVA 26498136871
 2423       18625  26013555000161     SUPERMERCADO MAIS ECONOMICO BARUERI LTDA
 4322       21245  17946239000151      S F LEITE MERCADO E PANIFICADORA EIRELI
 3911       20690  28372575000154            SENHOR PAO CONVENIENCIAS - EIRELI
 5965       23558  37259759000101          HORTIFRUTI E SUPERMERCADO LAPA LTDA
 836        13076  06012840000150              SUPERMERCADO MISSISSIPI LTDA ME
 4016       20838  56907868000396        LOURENCINI COMERCIO DE ALIMENTOS LTDA
 709        11984  07583041000520                   COMERCIAL CHOCOLANDIA LTDA
 3268       19875  07583041001330                   COMERCIAL CHOCOLANDIA LTDA
 4179       21050  30870848000132                SAN DIEGO SUPERMERCADO EIRELI
 444         9674  07844741000289               REDE HORT MAIS HORTIFRUTI LTDA
 267         7134  62584719000174     PANIFICADORA PRINCESA DA LUIS GOIS LTDA
 806        12798  52872777000140                 ARIZONA PAES E DOCES LTD EPP
 55          3839  57333973000160     SUPERMERCADO ALVORADA IRMAOS SILVEIRA LT
 3228       19817  28037458000134           PADARIA E RESTAURANTE JST LTDA EPP
 559        10872  16881766000324     REAL PAULISTA COMERCIAL DE ALIMENTOS LTD

              Nome Fantasia Data de Faturamento  Dias do Pedido ID Antigo  \
 3009   RENACER COMERCIO DE          2021-09-14           269.0  CLISEMCO
 3068      HORTIFRUTI UNIAO          2021-09-30           253.0  CLISEMCO
 1303  PANIFICADORA SANTA M          2021-10-07           246.0  CLISEMCO
 924   MARSEILLE PAES E DOC          2021-11-05           217.0  CLISEMCO
 4884              FANG HAN          2021-11-12           210.0  CLISEMCO
 5871   MERCADO PAI E FILHO          2021-11-13           209.0  CLISEMCO
 1539  MERCADINHO LUIS GOES          2021-12-07           185.0  CLISEMCO
 2541  CHOCOLANDIA FREGUESI          2022-03-30            72.0  CLISEMCO
 349   SUPERMERCADO FLAMENG          2022-04-26            45.0  CLISEMCO
 5515         I LOVE PASTEL          2022-04-30            41.0  CLISEMCO
 2423   SUPERMERCADO TOQUIO          2022-05-04            37.0  CLISEMCO
 4322     S F LEITE MERCADO          2022-05-10            31.0  CLISEMCO
 3911  SENHOR PAO CONVENIEN          2022-05-12            29.0  CLISEMCO
 5965         POMAR DA VILA          2022-05-13            28.0  CLISEMCO
 836     SUPERMERCADO TOKIO          2022-05-24            17.0  CLISEMCO
 4016  SUP. LOURENCINI LJ 3          2022-05-24            17.0  CLISEMCO
 709      CHOCOLANDIA LJ 02          2022-05-27            14.0  CLISEMCO
 3268     CHOCOLANDIA LJ 10          2022-05-30            11.0  CLISEMCO
 4179  SAN DIEGO SUPERMERCA          2022-05-30            11.0  CLISEMCO
 444      MAIS HORT LOJA 10          2022-05-31            10.0  CLISEMCO
 267   PANIFICADORA PRINCES          2022-05-31            10.0  CLISEMCO
 806   ARIZONA PAES E DOCES          2022-06-02             8.0  CLISEMCO
 55    SUPERMERCADO ALVORAD          2022-06-03             7.0  CLISEMCO
 3228           QUARESMEIRA          2022-06-06             4.0  CLISEMCO
 559   MAXIMO ATACADO CAMPO          2022-06-10             0.0  CLISEMCO

      Vendedor Antigo   ID Novo                    Vendedor Novo  Seq
 3009     CLIENTE 120  MARXSANC           MARX SANCHEZ MOLENIDIO    2
 3068     CLIENTE 120  PEDROCAR              PEDRO CARBONE FILHO    2
 1303     CLIENTE 120  TABATA        TABATA CRISTINA ORSI GENTIL    2
 924      CLIENTE 120  NATALIAL         NATALIA OLIVEIRA ALBIERI    2
 4884     CLIENTE 120  MARCOSLI  MARCOS VINICIUS DE LIMA E SILVA    2
 5871     CLIENTE 120  FRANCASS         FRANCISCO DE ASSIS ROCHA    2
 1539     CLIENTE 120  EDUARDOS  EDUARDO PINTO DOS SANTOS VIEIRA    2
 2541     CLIENTE 120  MARXSANC           MARX SANCHEZ MOLENIDIO    2
 349      CLIENTE 120  LEOLOREN              LEONARDO LORENCETTI    2
 5515     CLIENTE 120  RAQUELSO                  RAQUEL SOBRINHO    2
 2423     CLIENTE 120  CLAUDIOP            CLAUDIO TADEU PEREIRA    2
 4322     CLIENTE 120  LEOLOREN              LEONARDO LORENCETTI    2
 3911     CLIENTE 120  FABIOARA                     FABIO ARAUJO    2
 5965     CLIENTE 120  LEOLOREN              LEONARDO LORENCETTI    2
 836      CLIENTE 120  CLAUDIOP            CLAUDIO TADEU PEREIRA    2
 4016     CLIENTE 120  MARCOSGE             MARCOS GENTIL MARSON    2
 709      CLIENTE 120  MARXSANC           MARX SANCHEZ MOLENIDIO    2
 3268     CLIENTE 120  MARXSANC           MARX SANCHEZ MOLENIDIO    2
 4179     CLIENTE 120  VERONIKA                   VERONIKA BEARA    2
 444      CLIENTE 120  ISABELCR           ISABEL CRISTINA GURGEL    2
 267      CLIENTE 120  ISABELCR           ISABEL CRISTINA GURGEL    2
 806      CLIENTE 120  ADEMIRFE           ADEMIR FERNANDES KLEIN    2
 55       CLIENTE 120  VERONIKA                   VERONIKA BEARA    2
 3228     CLIENTE 120  ADANTAS            ANDREA DANTAS GONZALEZ    2
 559      CLIENTE 120  JOSENUNE              JOSE NUNES DA SILVA    2  }

In [28]:
for tabela in carteira_dict.keys():
    
    display(carteira_dict[tabela])
    
    pass

,ID Cliente,CNPJ,Razão Social,Nome Fantasia,Data de Faturamento,Dias do Pedido,ID Antigo,Vendedor Antigo,ID Novo,Vendedor Novo,Seq
6770,24749,05331354000132,ARAULO & MAIA LTDA,RECANTO DA VILA,2021-06-14,361.0,CLISEMCO,CLIENTE 120,MICHAELM,MICHAEL FRANCIS MUNIZ RODRIGUEZ,1
6438,24243,58851734000164,ACOUGUE E MERCEARIA AVENIDA LTDA,ACOUGUE E MERCEARIA,2021-06-15,360.0,CLISEMCO,CLIENTE 120,LEONELM,LEONEL MUNHOZ,1
1994,17747,00235182000180,MARIA HELENA STABILE DA SILVA - ME,MARIA HELENA STABILE,2021-06-17,358.0,CLISEMCO,CLIENTE 120,TABATA,TABATA CRISTINA ORSI GENTIL,1
3859,20615,29742719000180,MERCADINHO LEBLON LTDA,MERCADINHO LEBLON LT,2021-06-21,354.0,CLISEMCO,CLIENTE 120,ANDERPIE,ANDERSON PIERO TIFA,1
3885,20660,00475610000141,GLC COMERCIO DE ALIMENTOS LTDA,QQUALITY,2021-06-28,347.0,CLISEMCO,CLIENTE 120,ALENOGUE,ALEXANDRE NOGUEIRA ANTONOF,1
...,...,...,...,...,...,...,...,...,...,...,...
7207,25576,02727617000309,J M SIQUEIRA ALVES,PRATICO LJ 03,2022-05-20,21.0,CLISEMCO,CLIENTE 120,JULIODEL,JULIO C DELFINO,1
7206,25575,02727617000210,J M SIQUEIRA ALVES,PRATICO LJ 02,2022-05-20,21.0,CLISEMCO,CLIENTE 120,JULIODEL,JULIO C DELFINO,1
7211,25580,02727617000805,J M SIQUEIRA ALVES,PRATICO LJ 08,2022-05-20,21.0,CLISEMCO,CLIENTE 120,JULIODEL,JULIO C DELFINO,1
7243,25651,07182329000402,MAGNANIMO COMERCIAL IMPORTACAO E EXPORTACAO LTDA,MAGNANIMO LJ 04,2022-05-23,18.0,CLISEMCO,CLIENTE 120,JULIODEL,JULIO C DELFINO,1
7105,25336,26137020282,VIRGINIA SOUZA,VIRGINIA SOUZA,2022-05-24,17.0,CLISEMCO,CLIENTE 120,BRUNA,BRUNA ALVES LORENÇATO,1

,ID Cliente,CNPJ,Razão Social,Nome Fantasia,Data de Faturamento,Dias do Pedido,ID Antigo,Vendedor Antigo,ID Novo,Vendedor Novo,Seq
3009,19514,28338487000136,RENACER COMERCIO DE PRODUTOS ALIMENTICIO,RENACER COMERCIO DE,2021-09-14,269.0,CLISEMCO,CLIENTE 120,MARXSANC,MARX SANCHEZ MOLENIDIO,2
3068,19596,26695763000198,HORTIFRUTI NOVA MIRANDOPOLIS LTDA EPP,HORTIFRUTI UNIAO,2021-09-30,253.0,CLISEMCO,CLIENTE 120,PEDROCAR,PEDRO CARBONE FILHO,2
1303,15770,57607053000192,PANIFICADORA SANTA MARIA GORETTI EIRELI,PANIFICADORA SANTA M,2021-10-07,246.0,CLISEMCO,CLIENTE 120,TABATA,TABATA CRISTINA ORSI GENTIL,2
924,13755,73152423000109,MARSEILLE PAES E DOCES LTDA EPP,MARSEILLE PAES E DOC,2021-11-05,217.0,CLISEMCO,CLIENTE 120,NATALIAL,NATALIA OLIVEIRA ALBIERI,2
4884,21976,32302326000160,FANG HAN,FANG HAN,2021-11-12,210.0,CLISEMCO,CLIENTE 120,MARCOSLI,MARCOS VINICIUS DE LIMA E SILVA,2
5871,23432,27363817000180,TAIS VASCONCELOS SANTOS DE ALMEIDA,MERCADO PAI E FILHO,2021-11-13,209.0,CLISEMCO,CLIENTE 120,FRANCASS,FRANCISCO DE ASSIS ROCHA,2
1539,16520,07748784000180,MERCADINHO LUIS GOES LTDA,MERCADINHO LUIS GOES,2021-12-07,185.0,CLISEMCO,CLIENTE 120,EDUARDOS,EDUARDO PINTO DOS SANTOS VIEIRA,2
2541,18861,07583041001250,COMERCIAL CHOCOLANDIA LTDA,CHOCOLANDIA FREGUESI,2022-03-30,72.0,CLISEMCO,CLIENTE 120,MARXSANC,MARX SANCHEZ MOLENIDIO,2
349,8460,43312164000167,SUPERMERCADO FLAMENGO LTDA,SUPERMERCADO FLAMENG,2022-04-26,45.0,CLISEMCO,CLIENTE 120,LEOLOREN,LEONARDO LORENCETTI,2
5515,22868,32143155000173,RAQUEL PRISCILA SALOIO DA SILVA 26498136871,I LOVE PASTEL,2022-04-30,41.0,CLISEMCO,CLIENTE 120,RAQUELSO,RAQUEL SOBRINHO,2
2423,18625,26013555000161,SUPERMERCADO MAIS ECONOMICO BARUERI LTDA,SUPERMERCADO TOQUIO,2022-05-04,37.0,CLISEMCO,CLIENTE 120,CLAUDIOP,CLAUDIO TADEU PEREIRA,2
4322,21245,17946239000151,S F LEITE MERCADO E PANIFICADORA EIRELI,S F LEITE MERCADO,2022-05-10,31.0,CLISEMCO,CLIENTE 120,LEOLOREN,LEONARDO LORENCETTI,2
3911,20690,28372575000154,SENHOR PAO CONVENIENCIAS - EIRELI,SENHOR PAO CONVENIEN,2022-05-12,29.0,CLISEMCO,CLIENTE 120,FABIOARA,FABIO ARAUJO,2
5965,23558,37259759000101,HORTIFRUTI E SUPERMERCADO LAPA LTDA,POMAR DA VILA,2022-05-13,28.0,CLISEMCO,CLIENTE 120,LEOLOREN,LEONARDO LORENCETTI,2
836,13076,06012840000150,SUPERMERCADO MISSISSIPI LTDA ME,SUPERMERCADO TOKIO,2022-05-24,17.0,CLISEMCO,CLIENTE 120,CLAUDIOP,CLAUDIO TADEU PEREIRA,2
4016,20838,56907868000396,LOURENCINI COMERCIO DE ALIMENTOS LTDA,SUP. LOURENCINI LJ 3,2022-05-24,17.0,CLISEMCO,CLIENTE 120,MARCOSGE,MARCOS GENTIL MARSON,2
709,11984,07583041000520,COMERCIAL CHOCOLANDIA LTDA,CHOCOLANDIA LJ 02,2022-05-27,14.0,CLISEMCO,CLIENTE 120,MARXSANC,MARX SANCHEZ MOLENIDIO,2
3268,19875,07583041001330,COMERCIAL CHOCOLANDIA LTDA,CHOCOLANDIA LJ 10,2022-05-30,11.0,CLISEMCO,CLIENTE 120,MARXSANC,MARX SANCHEZ MOLENIDIO,2
4179,21050,30870848000132,SAN DIEGO SUPERMERCADO EIRELI,SAN DIEGO SUPERMERCA,2022-05-30,11.0,CLISEMCO,CLIENTE 120,VERONIKA,VERONIKA BEARA,2
444,9674,07844741000289,REDE HORT MAIS HORTIFRUTI LTDA,MAIS HORT LOJA 10,2022-05-31,10.0,CLISEMCO,CLIENTE 120,ISABELCR,ISABEL CRISTINA GURGEL,2
267,7134,62584719000174,PANIFICADORA PRINCESA DA LUIS GOIS LTDA,PANIFICADORA PRINCES,2022-05-31,10.0,CLISEMCO,CLIENTE 120,ISABELCR,ISABEL CRISTINA GURGEL,2
806,12798,52872777000140,ARIZONA PAES E DOCES LTD EPP,ARIZONA PAES E DOCES,2022-06-02,8.0,CLISEMCO,CLIENTE 120,ADEMIRFE,ADEMIR FERNANDES KLEIN,2
55,3839,57333973000160,SUPERMERCADO ALVORADA IRMAOS SILVEIRA LT,SUPERMERCADO ALVORAD,2022-06-03,7.0,CLISEMCO,CLIENTE 120,VERONIKA,VERONIKA BEARA,2
3228,19817,28037458000134,PADARIA E RESTAURANTE JST LTDA EPP,QUARESMEIRA,2022-06-06,4.0,CLISEMCO,CLIENTE 120,ADANTAS,ANDREA DANTAS GONZALEZ,2
559,10872,16881766000324,REAL PAULISTA COMERCIAL DE ALIMENTOS LTD,MAXIMO ATACADO CAMPO,2022-06-10,0.0,CLISEMCO,CLIENTE 120,JOSENUNE,JOSE NUNES DA SILVA,2

In [29]:
codigo=carteira_df['ID Antigo'].max()

base_dict=carteira_df[['ID Cliente','ID Novo']].to_dict()

for indice,cd_clien in base_dict['ID Cliente'].items():
    
    cd_vend=base_dict['ID Novo'][indice]
    
    cd_vend=str(cd_vend).strip()
    
    query="""
    
    UPDATE vend_cli
    SET cd_vend='{0}'
    WHERE cd_clien={1} AND cd_vend='{2}'
    
    """.format(cd_vend,cd_clien,codigo)
    
    print(query)
        
    pass

    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24749 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEONELM'
    WHERE cd_clien=24243 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=17747 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ANDERPIE'
    WHERE cd_clien=20615 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ALENOGUE'
    WHERE cd_clien=20660 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24904 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24605 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25640 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ANDERPIE'
    WHERE cd_clien=21264 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEONELM'
    WHERE cd_clien=24593 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RAQUELSO'
    WHERE cd_clien=22880 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=21960 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=23036 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=22812 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEONELM'
    WHERE cd_clien=24831 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25642 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24613 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=9390 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24660 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=22632 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=22966 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24661 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RENATAAP'
    WHERE cd_clien=20704 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24638 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=11794 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MARXSANC'
    WHERE cd_clien=19514 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=18314 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RENATAAP'
    WHERE cd_clien=24272 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='CRISGABA'
    WHERE cd_clien=4680 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ANACRIST'
    WHERE cd_clien=4717 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=18217 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MARCOSLI'
    WHERE cd_clien=21409 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=25331 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RAQUELSO'
    WHERE cd_clien=23865 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24932 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24978 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25106 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=13141 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=20887 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='PEDROCAR'
    WHERE cd_clien=19596 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=18476 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=23509 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TABATA'
    WHERE cd_clien=15770 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=13912 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEANDROF'
    WHERE cd_clien=18389 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25674 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='NATALIAL'
    WHERE cd_clien=13755 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24794 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=22740 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEANDROF'
    WHERE cd_clien=22672 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEANDROF'
    WHERE cd_clien=4854 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=18467 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=18572 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MARCOSLI'
    WHERE cd_clien=21976 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='FRANCASS'
    WHERE cd_clien=23432 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=6904 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24691 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ECOMMER'
    WHERE cd_clien=18609 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEANDROF'
    WHERE cd_clien=22881 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=12671 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24600 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEANDROF'
    WHERE cd_clien=25460 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MAYRAQS'
    WHERE cd_clien=21922 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=24879 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24670 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=16520 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEANDROF'
    WHERE cd_clien=19960 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEANDROF'
    WHERE cd_clien=10674 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=17459 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='CRISTIAN'
    WHERE cd_clien=21431 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEANDROF'
    WHERE cd_clien=17555 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=17501 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24706 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=25383 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24702 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24637 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24606 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=23914 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25579 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24748 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=24035 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JOSENUNE'
    WHERE cd_clien=25369 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25129 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24656 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=23460 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MAYRAQS'
    WHERE cd_clien=21130 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='FLASANTO'
    WHERE cd_clien=9562 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24720 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24634 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=22250 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24686 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=17799 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JOSENUNE'
    WHERE cd_clien=23581 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=23285 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=22251 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24925 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=17479 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=23221 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24620 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24996 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24680 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=7774 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=22253 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TALITA'
    WHERE cd_clien=21822 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25641 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=12482 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24608 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RODRIGOA'
    WHERE cd_clien=10095 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24705 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24695 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=25528 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25691 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JOSENUNE'
    WHERE cd_clien=25372 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24659 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TALITA'
    WHERE cd_clien=25198 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=24612 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MAYRAQS'
    WHERE cd_clien=21070 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LAERCIO'
    WHERE cd_clien=15782 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25659 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25657 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MICHAELM'
    WHERE cd_clien=25573 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RENATAAP'
    WHERE cd_clien=19693 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='CRISTIAN'
    WHERE cd_clien=14740 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=18532 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MARXSANC'
    WHERE cd_clien=18861 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=11354 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=9323 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=19220 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=23256 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ROBSONAN'
    WHERE cd_clien=21147 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=14280 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MAYRAQS'
    WHERE cd_clien=23398 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='SIRLEI'
    WHERE cd_clien=22662 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RODRIGOA'
    WHERE cd_clien=10102 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='TALITA'
    WHERE cd_clien=19455 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ROBSONAN'
    WHERE cd_clien=8002 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=24479 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MAYRAQS'
    WHERE cd_clien=14553 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LAERCIO'
    WHERE cd_clien=19272 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ROBSONAN'
    WHERE cd_clien=22879 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEOLOREN'
    WHERE cd_clien=8460 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ROBSONAN'
    WHERE cd_clien=22526 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RODRIGOA'
    WHERE cd_clien=10092 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JOSENUNE'
    WHERE cd_clien=25361 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=24589 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RAQUELSO'
    WHERE cd_clien=22868 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='RODRIGOA'
    WHERE cd_clien=10101 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=18070 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='CLAUDIOP'
    WHERE cd_clien=18625 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='AVULSO'
    WHERE cd_clien=17116 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LAERCIO'
    WHERE cd_clien=22490 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEOLOREN'
    WHERE cd_clien=21245 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LAERCIO'
    WHERE cd_clien=8241 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='FABIOARA'
    WHERE cd_clien=20690 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LEOLOREN'
    WHERE cd_clien=23558 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=18414 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=18267 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=18199 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='LAERCIO'
    WHERE cd_clien=17807 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JULIODEL'
    WHERE cd_clien=25574 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JULIODEL'
    WHERE cd_clien=25578 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JULIODEL'
    WHERE cd_clien=25577 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JULIODEL'
    WHERE cd_clien=25576 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JULIODEL'
    WHERE cd_clien=25575 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JULIODEL'
    WHERE cd_clien=25580 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JULIODEL'
    WHERE cd_clien=25651 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='CLAUDIOP'
    WHERE cd_clien=13076 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MARCOSGE'
    WHERE cd_clien=20838 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='BRUNA'
    WHERE cd_clien=25336 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MARXSANC'
    WHERE cd_clien=11984 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='MARXSANC'
    WHERE cd_clien=19875 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='VERONIKA'
    WHERE cd_clien=21050 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ISABELCR'
    WHERE cd_clien=9674 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ISABELCR'
    WHERE cd_clien=7134 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ADEMIRFE'
    WHERE cd_clien=12798 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='VERONIKA'
    WHERE cd_clien=3839 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='ADANTAS'
    WHERE cd_clien=19817 AND cd_vend='CLISEMCO'




    UPDATE vend_cli
    SET cd_vend='JOSENUNE'
    WHERE cd_clien=10872 AND cd_vend='CLISEMCO'