In [37]:
import pandas as pd
from glob import glob

In [38]:
arq=glob('*.csv*')

In [39]:
arq

['contacts.csv']

In [40]:
df=pd.read_csv(arq[-1],encoding='UTF-8')

In [41]:
df.columns

Index(['Name', 'Given Name', 'Additional Name', 'Family Name', 'Yomi Name',
       'Given Name Yomi', 'Additional Name Yomi', 'Family Name Yomi',
       'Name Prefix', 'Name Suffix', 'Initials', 'Nickname', 'Short Name',
       'Maiden Name', 'Birthday', 'Gender', 'Location', 'Billing Information',
       'Directory Server', 'Mileage', 'Occupation', 'Hobby', 'Sensitivity',
       'Priority', 'Subject', 'Notes', 'Language', 'Photo', 'Group Membership',
       'Phone 1 - Type', 'Phone 1 - Value', 'Phone 2 - Type',
       'Phone 2 - Value', 'Organization 1 - Type', 'Organization 1 - Name',
       'Organization 1 - Yomi Name', 'Organization 1 - Title',
       'Organization 1 - Department', 'Organization 1 - Symbol',
       'Organization 1 - Location', 'Organization 1 - Job Description'],
      dtype='object')

In [42]:
colunas=[l for l in df.columns.tolist() if str(l).find('Value')>=0]

colunas.append('Name')

colunas.sort()

colunas

['Name', 'Phone 1 - Value', 'Phone 2 - Value']

In [43]:
df=df[colunas].loc[df['Name'].notnull()]

In [44]:
def contatos(val):
    
    val=str(val)
    
    for r in ['-',':']:
        
        val=val.replace(r,'')
        
        pass
    
    val=val.split()
    
    return val
    
    pass

In [45]:
def telefone(val):
    
    val=str(val)
    
    for r in ['+','55']:
        
        val=val.replace(r,'')
        
        pass
    
    if len(val)!=11:
        
        val=f'11{val}'
        
        pass
            
    return val
    
    pass

In [46]:
colunas=[l for l in df.columns.tolist() if str(l).find('Phone')>=0]

colunas

['Phone 1 - Value', 'Phone 2 - Value']

In [48]:
temp=[]

temp_df=pd.DataFrame(columns=['Nome','Telefone'])

for i in df.index.tolist():
            
    name=df.loc[i,'Name']
    
    for c in colunas:
        
        val=df.loc[i,c]
        
        lista=contatos(val)
        
        for l in lista:
            
            val=telefone(l)
            
            if val==None:
                
                continue
                
            if val in temp:
                
                continue
                
            temp.append(val)
                        
            temp_df.loc[len(temp_df)]=[name,val]
                                  
            pass
        
        pass
    
    #break
    
    pass

In [52]:
temp_df['Caracteres']=temp_df['Telefone'].apply(lambda info: len(info))

In [55]:
temp_df=temp_df.loc[temp_df['Caracteres']==11]

In [72]:
row=len(temp_df)

val=str(round(row/1000,1))

ponto=val.find('.')

ponto+=int(val[0])

ponto

2

In [111]:
temp=[]

ind_max=0

for p in range(0,ponto):
                
    if ind_max in temp:
        
        ind_min=temp[-1]+1
        ind_max=temp_df.loc[ind_min:].head(1000).index.max()
        
        temp_df.loc[ind_min:ind_max].to_csv(f'Arq {p+1}.csv',index=False)
        
        pass
    
    else:
        
        ind_min=temp_df.head(1000).index.min()
        ind_max=temp_df.head(1000).index.max()
                        
        temp_df.loc[temp_df.index<=ind_max].to_csv(f'Arq {p+1}.csv',index=False)
        
        pass
    
    temp.append(ind_max)
    
    #display(temp_df.loc[temp_df.index<=temp[-1]])
    
    #break
    
    pass

                                          Nome     Telefone  Caracteres
0                              (91) 99601-4281  91996014281          11
2                               00923148000106  11981861162          11
3                       10524 Prospecçao Mayra  11940233856          11
5                          109 Lanches / Chris  11970119760          11
6                                        10938  11984338324          11
...                                        ...          ...         ...
1110                      Pamonharia Dona Ziza  11945191804          11
1111                  Panelao Prospecçao Mayra  11119402836          11
1112  Panificadora Bela Vista Prospecçao Mayra  11969806898          11
1113                                 Paparicos  11981860404          11
1115                   Parati Prospecçao Mayra  11950018425          11

[1000 rows x 3 columns]

                           Nome     Telefone  Caracteres
1116                     Parece  11981414975          11
1118                   Parmegio  11971022256          11
1119            Parque Wetn Wid  11943657654          11
1120                    Pasteko  11978690505          11
1121                   Patricia  11940361064          11
...                         ...          ...         ...
1401               Wilson 28579  11956545869          11
1402                      Yanca  11998943581          11
1403                 Yara 26642  11973812335          11
1406  Yoçanda Fabrica Dos Bolos  11970439793          11
1407                      Young  11972673384          11

[250 rows x 3 columns]